/********** APP MAIN STYLE **********/
/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
}

body {
  color: #fff;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

/* UTILITIES */
/* Containers */
.app-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.grow {
  flex-grow: 1;
}

/* List */
.list-inline {
  display: flex;
  list-style: none;
}

/* HEADER */
.main-header {
  background-color: #fff;
}
.main-header img {
  height: 80px;
  margin: 10px;
}
.main-header .header-nav {
  margin-left: 40px;
}
.main-header .header-nav li {
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}
.main-header .header-nav li a {
  color: #303030;
  text-decoration: none;
  font-weight: 600;
}
.main-header .header-nav li.active, .main-header .header-nav li:hover {
  border-bottom: 2px solid #0182f9;
}
.main-header .header-nav li.active a, .main-header .header-nav li:hover a {
  color: #0182f9;
}

/* MAIN FOOTER */
.main-footer {
  background-color: #303030;
  border-top: 15px solid #0182f9;
}
.main-footer .sign-up {
  margin: 30px 0;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border: 2px solid #0182f9;
  cursor: pointer;
}
.main-footer li {
  margin-left: 20px;
}
.main-footer .follow {
  color: #0182f9;
  margin-right: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

/* HOME MAIN */
.home-main {
  height: 100%;
  padding-top: 70px;
  background-color: #1c1c1c;
}
.home-main .container {
  flex-direction: column;
}
.home-main .comics {
  flex-wrap: wrap;
}
.home-main .comics .card {
  width: calc(100% / 6);
  padding: 14px;
}
.home-main .comics .card .comic-title {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
.home-main .load {
  padding: 10px 60px;
  margin-bottom: 1.1rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #0182f9;
}