/********** APP MAIN STYLE **********/
/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
}

body {
  background-color: #1c1c1c;
  color: #fff;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

/* UTILITIES */
.container {
  max-width: 1250px;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

/* List */
.list-inline {
  display: flex;
  list-style: none;
}

/* HEADER */
.main-header {
  background-color: #fff;
}
.main-header img {
  height: 80px;
  margin: 10px;
}
.main-header .header-nav {
  margin-left: 40px;
}
.main-header .header-nav li {
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}
.main-header .header-nav li a {
  color: #303030;
  text-decoration: none;
  font-weight: 600;
}
.main-header .header-nav li.active, .main-header .header-nav li:hover {
  border-bottom: 2px solid #0182f9;
}
.main-header .header-nav li.active a, .main-header .header-nav li:hover a {
  color: #0182f9;
}