/* MAIN FOOTER */
.main-footer{
    background-color: $secondary-color;
    border-top: 15px solid $brand-color;

    .sign-up{
        margin: 25px 0;
        padding: 15px;
        font-family: $secondary-font;
        font-weight: 600;
        border: 2px solid $brand-color;
        cursor: pointer;
    }

    li{
        margin-left: 20px;
    }

    .follow{
        color: $brand-color;
        margin-right: 10px;
        font-size: 1.3rem;
        font-weight: 600;
    }
}