// COLOR
$brand-color: #0182f9;
$secondary-color: #303030;
$bg-color: #1c1c1c;
$text-color: #fff;

// TYPOGRAPHY
$main-font: 'Fira Sans Condensed', sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;